<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <meta name="viewport" content= "width-device-width, initial-scale=1.0">
        <title>Log In </title>


    </head>

    <body>
        <h3>Se Connecter</h3>
        <div>
            <label for="username">Nom d'utilisateur : </label><br>
            <input type="text" name="" id="username">
        </div><br>
        <div>
            <label for="">Mot de passe : </label><br>
            <input type="password" name="" placeholder="password" id="password">
        </div><br>
      
        <div>
            <input type="checkbox" id="check">
            <label for="check">Voir mot de passe</label>
        </div><br>

        <div>
            <input type="button" value="Connexion" >
        </div>
        

    </body>


</html>