<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <meta name="viewport" content= "width-device-width, initial-scale=1.0">
        <title>Table </title>


    </head>

<body>
    <table>
        <thead>
            <tr>
                <th> Nom</th>
                <th>DCE</th>
                <th>DPE</th>
                <th>Regime</th>
                <th>Action</th>
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>kaze</td>
                <td>sdf</td>
                <td>sds</td>
                <td>sefed</td>
                <td>yfuyug</td>
            </tr>
            <tr>
                <td>juste</td>
                <td>fhfjgy</td>
                <td>asdzsd</td>
                <td>awdas</td>
                <td>dwsa</td> 
            </tr>
        </tbody>
    </table>

</body>