<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <meta name="viewport" content= "width-device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

<body>
<h1>
    Titre 1
</h1>
<h2>
    Sous tire
</h2>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. <br/> 
    Odio consequatur doloribus <i>harum doloremque nulla facilis dignissimos </i> cum reiciendis, quidem pariatur, reprehenderit asperiores sit. <br/>
    Provident voluptas sed quisquam ullam rerum commodi?
</p>
<img src="../../Vista Touch(379).jpg" alt="">

</body>


</html>